<!doctype html>
<html>
  <head>
    <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/ethers@5.0.17/dist/ethers.umd.js" type="text/javascript"></script>
    <script src="constants.js" type="text/javascript"></script>
    <script>
      var app = angular.module("app", []);

      app.controller("ctrl", function($scope) {

        $scope.address = "0x901CF8126c5F71f904086491FA71Ec47B5E5505d";


        $scope.check = async function() {
          console.log("check", $scope.address);

          let balanceIsland = await checkBalanceIsland($scope.address);
          let balanceStaked = await checkBalanceStaked($scope.address);
          let allowanceIsland = await checkBalanceIsland($scope.address);
          let allowanceIsland = await allowanceBalanceIsland($scope.address);
         
      
          
          $scope.balance = ethers.utils.formatEther(balance.toString());

          console.log($scope.balance);
          $scope.$apply();
        }
        
        


        async function checkAllowanceIsland(address) {
          let allowance = await island.allowance($scope.address, AssuranceAddress);
          return allowance;
        }

        async function checkBalanceIsland(address) {
          let balance = await island.balanceOf($scope.address);
          return balance;
        }



        async function checkAllowanceStaked(address) {
          let allowance = await staked.allowance($scope.address, AssuranceAddress);
          return allowance;
        }

        async function checkBalanceStaked(address) {
          let balance = await staked.balanceOf($scope.address);
          return balance;
        }




      });

    </script>
  </head>
  <body ng-app="app" ng-controller="ctrl">


    <button ng-click="enable()">connect metamask</button>

    <br>
    <br>

    <input ng-model="address" placeholder="address"></input>
    <button ng-click="check()">check</button>
    <h1>{{ balance }}</h1>




    <h3>Deposit</h3>


    <h3>Withdraw</h3>
    <p>{{ balance }}</p>
    <input ng-model="balanceNumber" type="number">
    <button ng-click="withdraw()">withdraw</button>




    <h3>Stake</h3>
    <p>{{ staked }}</p>
    <input ng-model="stakeNumber" type="number">
    <button ng-click="stake()">stake</button>


    <h3>Unstake</h3>
    <input ng-model="unstakeNumber" type="number">
    <button ng-click="unstake()">unstake</button>





    <p><code>islanddao.eth</code></p>


  </body>

<script>


    async function init() {
      await window.ethereum.enable();
      const provider = new ethers.providers.Web3Provider(window.ethereum)
      let network = await provider.getNetwork(); console.log(network);      
      signer = provider.getSigner();

      assurance = new ethers.Contract(AssuranceAddress, AssuranceABI, signer);
      island    = new ethers.Contract(IslandAddress,    IslandABI,    signer);

    }

    init();

  </script>

</html>